*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/*html {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url("../img/simpatichnaya-devushka-lili.jpg");
}

@media (max-width: 1365px) {
  html {
    //background-image: url("maket/320.jpg");
  }
}*/

body {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  min-width: 320px;
  margin: 0;
  color: $black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.body-lock {
  overflow-y: scroll;
  position:fixed;
}

.valid input {
  border-color: $validColor;
}

.invalid {
  position: relative;
}

.invalid input {
  border-color: $errorColor;
}

.invalid::before {
  content: 'Ошибка: неверный формат';
  position: absolute;
  top: -40px;
  left: 30px;
  @include font(13, 1.2);
  color: $errorColor;
}
