@mixin resetList {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin resetLink {
  color: inherit;
  text-decoration: none;
}

@mixin font($size: 1.5, $lineHeight: 1.6, $weight:400) {
  font-size: ($size * 1rem);
  line-height: ($lineHeight);
  font-weight: $weight;
}

@mixin yellowButton($width) {
  display: block;
  width: $width;
  @include font(12, 15, 600);
  text-decoration: none;
  background-color: $basic;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  word-break: break-word;

  &:hover,
  &:focus
  {
    background-color: $accent;
  }
}



