$mobile: 767px;
$tablet: 1023px;
$desktop: 1920px;

$black: rgba(72, 72, 72, 1);
$blackLight: rgba(72, 72, 72, 0.87);
$blue: #1FC0FC;
$yellow: #FFC341;
$gradient: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
$modalBg: #EBEBEB;
$errorColor: rgba(255, 0, 0, 0.5);
$validColor: rgba(72, 72, 72, 0.5);

$retina-dppx: 1.5dppx;
