.about {
  background-image: url("../img/bg/watercolor_Bg.png");
  background-repeat: no-repeat;
  background-position: 100% 160px;
}

.about__wrap {
  max-width: 870px;
  margin: auto;
}

.about__title {
  position: relative;
@include header();
  margin-top: -11px;
  margin-bottom: 26px;
  text-align: center;
  z-index: 2;
}

.about__content {
  padding: 0 91px;
  @include font(17, 1.7);
  margin-bottom: 47px;
  text-align: center;
}

.about__content span {
  display: inline-block;
  width: 5px;
}

.about__img {
  position: relative;
}

.about__img img {
  width: 100%;
  height: auto;
}

.about__play {
  position: absolute;
  top: 38.4%;
  right: 50%;
  width: 96px;
  height: 96px;
  transform: translate(50%);
  z-index: 2;
  border-radius: 50%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.32);
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 50%;
    right: 37%;
    transform: translateY(50%);
    border-top: 10px solid transparent;
    border-right: none;
    border-bottom: 10px solid transparent;
    border-left: 18px solid $blue;
  }

  &:focus {
    outline: none;
  }

  &:hover::before {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:hover::after,
  &:focus::after {
    border-left-color: #63D3FD;
  }

  &:active::before {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    background-color: #F4F4F4;
  }

  &:active::after {
    border-left-color: $blue;
  }
}


@media (max-width: $mobile) {

  .about {
    background-image: url("../img/bg/watercolor_Bg_m.png");
    background-position: 0 201px;
  }

  .about__title {
    margin-bottom: 26px;
    font-size: 3.2rem;
    margin-top: -5px;
  }

  .about__content {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0 17px;
    margin-bottom: 49px;
    text-align: left;
  }

  .about__content span {
    display: none;
  }

  .about__play {
    position: absolute;
    top: 35%;
    right: 49%;
    width: 80px;
    height: 80px;


    &::before {
      width: 54px;
      height: 54px;
    }

    &::after {
      bottom: 51%;
      right: 39%;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 14px solid $blue;
    }
  }
}
