.about__wrap {
  width: 870px;
  margin: auto;
}

.about__title {
@include header();
  margin-top: -11px;
  margin-bottom: 26px;
  text-align: center;
}

.about__content {
  padding: 0 91px;
  @include font(17, 1.7);
  margin-bottom: 0;
  text-align: center;

}

.about__bg {
  position: relative;
  background-image: url("../img/bg/watercolor_Bg.png");
  background-repeat: no-repeat;
  padding-top: 44%;
}

.about__img {
  position: absolute;
  top: 47px;
  right: 50%;
  transform: translate(50%);
  width: 870px;
  height: 460px;
}

.about__img img {
  width: 100%;
  height: auto;
}

.about__play-btn {
  color: white;
}

.about__play {
  position: absolute;
  top: 39%;
  right: 50%;
  width: 96px;
  height: 96px;
  transform: translate(50%);
  z-index: 2;
  border-radius: 50%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.32);
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 50%;
    right: 37%;
    transform: translateY(50%);
    border-top: 10px solid transparent;
    border-right: none;
    border-bottom: 10px solid transparent;
    border-left: 18px solid $blue;
  }

  &:hover::before {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:hover::after,
  &:focus::after {
    border-left-color: #63D3FD;
  }

  &:active::before {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    background-color: #F4F4F4;
  }

  &:active::after {
    border-left-color: $blue;
  }

}

