.accordion {
  padding: 0;
  margin: 0;
  list-style: none;
}

.accordion__toggle {
  display: none;
}

.accordion__title {
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 20px;
    right: 38px;
    width: 13px;
    height: 2px;
    background-color: $blue;
    transition: transform 0.3s ease;
  }

  &::before {
    transform: translate(-4px, 8px) rotate(45deg);
  }

  &::after {
    transform: translate(4px, 8px) rotate(-45deg);
  }
}

.accordion__content {
  height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion__toggle:checked ~ .accordion__content {
  margin-top: -7px;
  margin-bottom: 31px;
  height: auto;
  transition: height 500ms ease-in-out;
}

.accordion__toggle:checked + label {

  &::before {
    transform: translate(4px, 8px) rotate(45deg);
  }

  &::after {
    transform: translate(-4px, 8px) rotate(-45deg);
  }
}

@media (max-width: $mobile) {
  .accordion__title {

    &::before,
    &::after {
      top: 20px;
      right: 0;
    }
  }

  .accordion__toggle:checked ~ .accordion__content {
    min-height: 110px;
  }
}
