.faq {
  display: flex;
  max-width: 1366px;
  padding: 96px 0 94px 110px;
  margin: auto;
  justify-content: space-between;
  background-image: url('../img/bg/watercolor_Bg_four.png'), url('../img/bg/bag.png');
  background-repeat: no-repeat no-repeat;
  background-position: 0 50px, 0 100%;
}

.faq__header {
  @include header();
  margin-bottom: 33px;
}

.faq__wrap-content {
  width: 560px;
}

.faq__item {
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);
}

.faq__content {
  margin: 0;
  padding-right: 40px;
  line-height: 1.4;
}

.faq__title {
  display: flex;
  align-items: baseline;
  margin-top: 23px;
  margin-bottom: 25px;
  padding-right: 100px;
  @include font(17, 1.5);
}

.faq__title--5 {
  margin-top: 20px;
}

.faq__title b {
  @include font(28, 1.7, 600);
  margin-right: 15px;
  color: $yellow;
}

.faq__wrap-img {
  width: 645px;
  padding-top: 33px;
}

.faq__wrap-img img {
  width: 100%;
  height: auto;
}

@media (max-width: 1365px) {
  .faq {
    padding-left: 30px;
  }

  .faq__title {
    padding-right: 70px;
  }
}

@media (max-width: $mobile) {
  .faq {
    padding: 121px 40px 0 40px;
    background-image: url('../img/bg/bag.png');
    background-repeat: no-repeat;
    background-position: -7px 93%;
  }

  .faq__header {
    font-size: 3.2rem;
    margin-bottom: 23px;
    text-align: center;
  }

  .faq__wrap-img {
    display: none;
  }


  .faq__wrap-content {
    width: 100%;
  }

  .faq__content {
    margin: 9px 0 6px 0;
    padding-right: 0;
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .faq__title {
    padding-right: 30px;
    margin-bottom: 11px;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .faq__title b {
    margin-right: 9px;
  }
}

@media (max-width: 480px) {
  .faq {
    padding: 121px 17px 0 17px;
  }
}
