.feedback {
  max-width: 1366px;
  margin: auto;
  background-image: url('../img/bg/watercolor_bg_five.png'), url('../img/bg/city_two.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 65px, 100% 83px;
}

.feedback__container {
  max-width: 1084px;
  margin-left: 98px;
  overflow-x: hidden;
}

.feedback__title {
  @include header();
  margin-top: 28px;
  margin-bottom: 8px;
  padding-left: 84px;
  text-align: center;
}

.feedback__list {
  @include resetList;
  display: flex;
}

.feedback__item {
  width: 100%;
  display: flex;
}

.feedback__wrap-img {
  width: 364px;
  flex-shrink: 0;
  margin-right: 40px;
}

.feedback__wrap-img img {
  width: 100%;
  height: auto;
}

.feedback__author {
  margin-top: 40px;
  margin-bottom: 0;
@include font(24, 1.5, 500);
  color: rgba(72, 72, 72, 0.74);
}

.feedback__program {
  line-height: 1.4;
  margin-top: 9px;
  margin-bottom: 31px;
}

.feedback__program span {
  color: $blue;
  margin-right: 9px;
}

.feedback__content {
  @include font(17, 1.7);
  color: rgba(72, 72, 72, 0.74);
}

.feedback__details {
  color: $blue;
}

.feedback__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -31px;
  margin-left: 404px;
}

.feedback__pages {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

.feedback__pages span {
  font-size: 1.7rem;
  line-height: 1.5;
}

.feedback__delimiter {
  margin-left: 3px;
  margin-right: 5px;
}

.feedback__btn {
  position: relative;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 18px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 2px solid $validColor;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
  }
}

.feedback__btn:last-child::before{
  transform: rotate(225deg);
}

.feedback__btn--back {
  margin-left: 28px;
}
