.feedback {
  max-width: 1366px;
  margin: auto;
  background-image: url('../img/bg/watercolor_bg_five.png'), url('../img/bg/city_two.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 65px, 100% 83px;
}

.feedback__container {
  max-width: 1084px;
  margin-left: 98px;
  margin-right: 30px;
  overflow-x: hidden;
}

.feedback__title {
  @include header();
  margin-top: 28px;
  margin-bottom: 8px;
  padding-left: 84px;
  text-align: center;
}

.feedback__list {
  @include resetList;
  display: flex;
}

.feedback__item {
  width: 100%;
  display: flex;
}

.feedback__wrap-img {
  width: 364px;
  flex-shrink: 0;
  margin-right: 40px;
}

.feedback__wrap-img img {
  width: 100%;
  height: auto;
}

.feedback__author {
  margin-top: 40px;
  margin-bottom: 0;
  @include font(24, 1.5, 500);
  color: $blackLighter;
}

.feedback__program {
  line-height: 1.4;
  margin-top: 9px;
  margin-bottom: 31px;
  color: $blackLighter;
}

.feedback__program span {
  color: $blue;
  margin-right: 9px;
}

.feedback__content {
  @include font(17, 1.7);
  color: $blackLighter;
}

.feedback__details {
  color: $blue;
  display: block;
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

.feedback__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -31px;
  margin-left: 404px;
  z-index: 2;
}

.feedback__pages {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

.feedback__pages span {
  font-size: 1.7rem;
  line-height: 1.5;
  color: $validColor;
}

.feedback__delimiter {
  margin-left: 3px;
  margin-right: 5px;
}

.feedback__btn {
  position: relative;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 18px;
  cursor: pointer;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;
    height: 12px;
    border: 2px solid $validColor;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
  }
}

.feedback__btn:last-child::before {
  transform: rotate(225deg);
}

.feedback__btn--back {
  margin-left: 28px;
}

@media (max-width: 1024px) {

  .feedback__container {
    margin-left: 30px;
  }
}

@media (max-width: $mobile) {

  .feedback {
    margin-top: 52px;
    background-image: url('../img/bg/watercolor_bg_five_m.png'), url('../img/bg/city_two_m.png');
    background-position: 100% 65px, 100% 69.4%;
  }

  .feedback__container {
    margin: 0 17px;
  }

  .feedback__title {
    font-size: 3.2rem;
    margin-bottom: 24px;
    padding-left: 0;
  }

  .feedback__item {
    position: relative;
    flex-direction: column;
  }

  .feedback__wrap-img {
    width: 240px;
    margin: auto;
  }

  .feedback__pages {
    position: absolute;
    top: 419px;
    left: 50%;
    padding: 0 0 0 8px;
    transform: translate(-50%);
  }

  .feedback__author {
    margin-top: 51px;
  }

  .feedback__program {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 23px;
  }

  .feedback__program span {
    display: block;
  }

  .feedback__content {
    font-size: 1.6rem;
    line-height: 1.62;
  }

  .feedback__details {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 23px;
  }

  .feedback__nav {
    position: static;
    margin: 0 0 0 -5px;
    justify-content: flex-start;
  }

}
