.header {
  position: relative;
}

.header__head {
  position: absolute;
  top: 32px;
  right: 50%;
  width: 84%;
  transform: translate(50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header__link {
  @include font(15, 1.2, 500);
  color: inherit;
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__link--logo {
  padding-right: 19px;
}

.header__link--modal {
  margin-right: 5px;
  border-bottom: 2px dashed $black;
  font-variant: small-caps;
}

.header__wrap-content {
  position: absolute;
  bottom: 15.4%;
  right: 50%;
  transform: translate(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  margin-bottom: 33px;
  @include font(24, 1.2, 600);
  text-align: center;
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  white-space: pre-line;
}

.header__scroll {
  color: white;

  &:hover {
    color: $yellow;
  }
}

.header__bg {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: $mobile) {
  .header {
    margin-top: 20px;
  }

  .header__wrap-content {
    bottom: 13.4%;
  }

  .header__head {
    top: 0;
    flex-wrap: wrap;
    right: 49.5%;
    width: 93%;
    align-items: flex-start;
  }

  .header__link {
    font-size: 1.4rem;
  }

  .header__link--logo {
    padding-right: 0;
    margin-left: 2px;
    width: calc(100% - 130px);
    order: -1;
  }

  .header__logo {
    width: 120px;
    height: auto;
  }

  .header__link--modal {
    margin: -17px 0 0 auto;
  }

  .header__title {
    bottom: 39%;
    width: 288px;
    font-size: 2rem;
  }
}

