.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $modalBg;
  opacity: 0.95;
}

.modal--call-invisible,
.modal--success-invisible {
  display: none;
}


.modal__wrap {
  position: absolute;
  bottom: 50%;
  right: 50%;
  padding: 31px 47px;
  transform: translate(50%, 47%);
  width: 480px;
  height: 521px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

.modal__wrap--success {
  text-align: center;
  padding-top: 120px;
}

.modal__title {
  @include header(28);
  text-transform: none;
  margin-bottom: 18px;
  letter-spacing: -0.05rem
}

.modal__title--call {
  text-align: left;
}

.modal__content {
  @include font(15, 1.7);
  opacity: 0.87;
  padding-right: 30px;
  margin-bottom: 33px;
}

.modal__content--success {
  padding-left: 28px;
}

.modal__input {
  border: 2px solid #E3E3E3;
  border-radius: 80px;
  width: 360px;
  height: 59px;
  padding: 0 39px;
  @include font(17, 1.2, 500);
  font-variant: small-caps;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    border-color: $yellow;
  }
}

.modal__input--phone {
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal__submit {
  @include yellowButton();
  margin: 0 auto 17px auto;

}

.modal__check {
  display: none;
}

.modal__apply {
  position: relative;
  display: block;
  padding-left: 86px;
  padding-right: 50px;
  @include font(13, 1.5);
  opacity: 0.74;

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 62px;
    width: 15px;
    height: 15px;
    border: 2px solid $yellow;
  }
}

.modal__check:checked + label::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 65px;
  width: 19px;
  height: 8px;
  border-bottom: 2px solid $yellow;
  border-left: 2px solid $yellow;
  transform: rotate(-45deg);
}

.modal__ok {
  @include yellowButton();
  margin: 0 auto 17px auto;
}

.modal__close {
  position: absolute;
  top: 32px;
  right: 33px;
  width: 17px;
  height: 17px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 6px;
    right: -3px;
    width: 22px;
    height: 2px;
    background: $gradient;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__label.invalid::before {
  top: 105px;
  left: -327px;
  z-index: 5;
}

@media (max-width: $mobile) {
  .modal__wrap {
    top: 0;
    bottom: auto;
    right: 50%;
    padding: 135px 0 0 0;
    transform: translate(50%, 0);
    width: 320px;
    height: 768px;
    text-align: center;
  }

  .modal__wrap--success {
    padding-top: 200px;
  }

  .modal__title {
    font-size: 2.4rem;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .modal__title--call {
    text-align: center;
  }

  .modal__content {
    font-size: 1.4rem;
    line-height: 1.6;
    padding-right: 23px;
    margin-bottom: 33px;
  }

  .modal__content--call {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }

  .modal__input {
    width: 288px;
    height: 59px;
    padding: 0 39px;
  }

  .modal__apply {
    padding-left: 45px;
    padding-right: 21px;

    &::before {
      left: 31px;
    }
  }

  .modal__close {
    top: 26px;
    right: 26px;
  }

  .modal__close--call {
    top: 17px;
    right: 24px;
  }

  .modal__label.invalid::before {
    top: 105px;
    left: -260px;
    z-index: 5;
  }
}
