.programs {
  padding-top: 194px;
  background-image: url('../img/bg/city_one.png');
  background-repeat: no-repeat;
  background-position: 100% 145px;
}

.programs__container {
  max-width: 946px;
  margin: auto;
}

.programs__title {
  @include header();
  margin-top: 0;
  margin-bottom: 67px;
}

.programs__toggle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.programs__block {
  display: flex;

  &:focus {
    outline: none;
  }
}

.programs__captions {
  width: 228px;
  flex-shrink: 0;
  @include resetList;
}

.programs__captions li {
  margin-bottom: 4px;
  display: flex;
}

.programs__type {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  min-height: 68px;
  align-items: center;
  padding: 0 30px 0 22px;
  @include font(15, 1.2);
  color: $blackLight;
  cursor: pointer;
  word-break: break-word;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 34px;
    background: linear-gradient(-45deg, white 24px, transparent 24px),
    linear-gradient(-135deg, white 24px, transparent 24px);
  }

  &:hover {
    color: $yellow;
  }
}

.programs__type--religious {
  margin-left: 5px;
}

.programs__captions svg {
  margin-right: 18px;
  flex-shrink: 0;
}

.programs__wrap {
  margin-left: 64px;
  margin-right: 102px;
  overflow-x: hidden;

  &:focus {
    outline: none;
  }
}

.programs__content {
  display: flex;
  width: 500%;
  @include resetList;
}

.programs__item {
  width: 100%;
}

.programs__subtitle {
  margin-top: 16px;
  margin-bottom: 25px;
  @include header(28, 1.2);
  text-transform: unset;
}

.programs__text {
  @include font(15, 1.7);
  color: $blackLight;
}

.programs__text:first-of-type {
  margin-bottom: 17px;
}

.programs__text--space br:not(.space) {
  display: none;
}

#share:checked ~ .programs__block .programs__type--share,
#academy:checked ~ .programs__block .programs__type--academy,
#stage:checked ~ .programs__block .programs__type--stage,
#voluntary:checked ~ .programs__block .programs__type--voluntary,
#religious:checked ~ .programs__block .programs__type--religious {
  background: linear-gradient(138.15deg, #FFC341 20.46%, #FFD701 65.31%);
  @include font(16, 1.2, 500);
  font-variant: small-caps;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  color: white;
}

#share:checked ~ .programs__block .programs__content {
  transform: translate(0%);
}

#academy:checked ~ .programs__block .programs__content {
  transform: translate(-20%);
}

#stage:checked ~ .programs__block .programs__content {
  transform: translate(-40%);
}

#voluntary:checked ~ .programs__block .programs__content {
  transform: translate(-60%);
}

#religious:checked ~ .programs__block .programs__content {
  transform: translate(-80%);
}

@media (max-width: 1020px) {
  .programs {
    padding-top: 110px;
  }

  .programs__wrap {
    max-width: 552px;
    margin-left: 44px;
    margin-right: 0;
  }

  .programs__container {
    max-width: 826px;
  }
}

@media (max-width: 890px) {
  .programs {
    padding-top: 110px;
  }

  .programs__wrap {
    max-width: 552px;
  }

  .programs__container {
    margin: 0 20px;
  }
}

@media (max-width: $mobile) {
  .programs {
    padding-top: 75px;
    text-align: center;
    background-image: url('../img/bg/city_one_m.png');
    background-position: 100% 193px;
  }

  .programs__container {
    margin: auto;
  }

  .programs__title {
    font-size: 3.2rem;
    margin-bottom: 15px;
  }

  .programs__block {
    flex-direction: column;
    overflow-x: hidden;
  }

  .programs__captions {
    position: relative;
    display: flex;
    width: 770px;
    flex-shrink: initial;
  }

  .programs__captions li {
    margin-bottom: 0;
  }

  .programs__type {
    min-height: 39px;
    border-radius: 60px;
    padding: 8px 11px 8px 11px;

    &::after {
      display: none;
    }
  }

  .programs__captions svg {
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }

  .programs__wrap {
    margin-left: 17px;
    margin-right: 18px;
    overflow-x: hidden;
  }

  .programs__subtitle {
    margin-top: 32px;
    margin-bottom: 17px;
    font-size: 2.4rem;
    text-align: left;
  }

  .programs__text {
    font-size: 1.4rem;
    line-height: 1.6;
    color: $blackLight;
    text-align: left;
  }

  .programs__text--space br:not(.space) {
    display: block;
  }

  .programs__text--space .space {
    display: none;
  }

  .programs__text:first-of-type {
    margin-bottom: -2px;
  }
}

