.trip {
  display: flex;
  max-width: 1366px;
  margin: 11px auto 0 auto;
  justify-content: flex-end;
}

.trip__wrap-content {
  position: relative;
  width: 477px;
  margin-top: 177px;
  margin-right: -139px;
  z-index: 1;
}

.trip__wrap-img {
  width: 818px;
}

.trip__wrap-img img{
  width: 100%;
  height: auto;
}

.trip__title {
  @include header();
  margin-bottom: 25px;
}

.trip__content {
  @include font(17, 1.7);
  margin-bottom: 64px;
  color: $blackLight;
}

.trip__form {
  display: flex;
}

.trip__input {
  border: 2px solid #E3E3E3;
  border-radius: 80px;
  width: 307px;
  height: 59px;
  padding: 0 55px 0 39px;
  @include font(17, 1.2, 500);
  font-variant: small-caps;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    border-color: $yellow;
  }
}

.trip__submit {
  position: relative;
  @include yellowButton(216px);
  margin-left: -46px;
  z-index: 1;
}

.trip__label.invalid::before {
  top: -20px;
}

@media (max-width: 1200px) {
  .trip__wrap-content {
    margin-top: 8%;
    margin-left: 30px;
  }

  .trip__wrap-img {
    width: 70%;
  }
}

@media (max-width: 920px) {

  .trip__wrap-content {
    margin-top: 0;
    margin-left: 20px;
  }

  .trip__wrap-img {
    width: 60%;
  }
}

@media (max-width: $mobile) {
  .trip {
    flex-direction: column;
    align-items: center;
  }

  .trip__wrap-content {
    width: auto;
    margin: 0 20px;
  }

  .trip__wrap-img {
    width: auto;
  }

  .trip__title {
    margin-top: 7px;
    text-align: center;
    font-size: 3.2rem;
  }
  // width: 470px;
  .trip__content {
    width: 470px;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  .trip__content br {
    display: none;
  }

  .trip__form {
   flex-direction: column;
  }

  .trip__input {
    display: block;
    width: 287px;
    margin: 0 auto 8px auto;
  }

  .trip__submit {
    width: 264px;
    margin: auto;
  }

  .trip__label.invalid::before {
    left: 120px
  }
}


@media (max-width: 510px) {

  .trip__content {
    width: auto;
  }

  .trip__label {
    align-self: center;
  }

  .trip__label.invalid::before {
    left: 32px
  }
}

